<header class="sc-header">
  {% if settings.logo %}
    <img src="{{ settings.logo | img_url: '200x' }}" alt="SaludCompartida" class="sc-logo">
  {% else %}
    <div class="sc-logo-text">Salud<span>Compartida</span></div>
  {% endif %}
</header>

{% schema %}
{
  "name": "Header",
  "settings": []
}
{% endschema %}
